

.main {
    position: relative;
    padding-top: 4rem;
}
.bgContact {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 3%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    width: 100%;
}
.heroSectionContact {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    color: var(--white-color);
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
    padding-top: 4rem;
}
.heroSectionContact h2 {
    font-size: clamp(1.1rem, -0.875rem + 8.333vw, 1.5rem);
    padding-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 75rem;
    width: 100%;
    font-weight: 500;
    color: #8f889a;
}
.form {
    padding: 5rem 1.2rem;
    max-width: 75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    gap: 3rem;
    width: 100%;
}
.form form {
    border: 2px solid rgba(255, 255, 255, 0.686);
    padding: 2rem;
    background-color: black;
    width: 100%;
    border-radius: 0.8rem;
    color: white;
}
.form form h2 {
    font-weight: 600;
    font-size: clamp(1.5rem, -0.875rem + 8.333vw, 2.5rem);
    padding-bottom: 2rem;
}
.form form .input1 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
}
.form form .input1 input {
    width: 100%;
    padding: 0.8rem 0.8rem 0.8rem 0;
    background-color: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.689);
}
@media only screen and (max-width: 800px) {
    .form form .input1 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
   }
}
.form form .input2 {
    margin-top: 3rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
}
.form form .input2 input {
    width: 100%;
    padding: 0.8rem 0.8rem 0.8rem 0;
    background-color: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.689);
}
.form form .input2 select {
    background-color: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.689);
    width: 100%;
    padding: 0.8rem 0.8rem 0.8rem 0;
}
.form form .input2 select option {
    color: black;
}
@media only screen and (max-width: 800px) {
    .form form .input2 {
        margin-top: 2.1rem;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
   }
}
.form form textarea {
    width: 100%;
    padding: 0.8rem 0.8rem 0.8rem 0;
    background-color: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.689);
    margin-top: 2rem;
    resize: none;
}
.form form button {
    width: 100%;
    border-radius: 5rem;
    background-color: #093055;
    color: white;
    padding: 1.2rem;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 2rem;
    -webkit-transition: 300ms all;
    -o-transition: 300ms all;
    transition: 300ms all;
    border: 3px solid #093055;
}
.form form button:hover {
    background-color: transparent;
}
@media only screen and (max-width: 800px) {
    .form form button {
        margin-top: 1rem;
        font-size: 1rem;
        padding: 1rem;
   }
}
.form .location {
    width: 100%;
}
.form .location .heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 2rem;
}
.form .location .heading h2 {
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    cursor: pointer;
    -webkit-transition: 300ms all;
    -o-transition: 300ms all;
    transition: 300ms all;
}
.form .location .heading h2:hover {
    color: #093055;
}
.form .location .heading h2:nth-child(1) {
    color: #093055;
}
.form .location .divider {
    border-bottom: 2px solid rgba(255, 255, 255, 0.164);
    margin: 1rem 0;
    width: 100%;
}
.form .location .locationAddress {
    color: white;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.form .location .locationAddress i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    background-color: #093055;
}
.form .location .locationAddress .addressSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
   /* height: 100%;
    */
}
.form .location .locationAddress .address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
}
.form .location .locationAddress .address h2 {
    font-weight: 600;
    font-size: 17px;
}
.form .location .locationAddress .addressPara {
    border: 2px solid rgba(255, 255, 255, 0.319);
    padding: 1rem;
    margin-bottom: 4rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    color: rgba(255, 255, 255, 0.719);
}
.form .location .locationAddress .map {
    display: none;
}
.form .location .locationAddress .map iframe {
    width: 100%;
    height: 25rem;
    border-radius: 0.5rem;
}
@media only screen and (max-width: 800px) {
    .form form {
        padding: 2rem 1rem;
   }
}
@media only screen and (max-width: 700px) {
    .form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
   }
}
.OurIT {
    z-index: 10;
    position: relative;
    color: white;
    max-width: 75rem;
    width: 100%;
    margin: auto;
    padding: 1rem;
    padding-bottom: 3rem;
}
.OurIT h2 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 2rem;
    font-size: clamp(1.5rem, -0.875rem + 8.333vw, 2.5rem);
}
.OurIT h3 {
    margin-top: 2rem;
    font-weight: 500;
    font-size: clamp(1rem, -0.875rem + 8.333vw, 1.2rem);
}
.OurIT p {
    padding-top: 0.5rem;
    color: #fff a3;
}
.OurIT ul {
    padding-top: 0.5rem;
    list-style: disc;
    padding-left: 1.5rem;
    margin-bottom: 3rem;
}
.OurIT ul li {
    color: #fff a3;
}
.OurIT ul b {
    color: white;
}
