:root {
    --black-color: #000000;
    --white-color: #f7f7f7;
}

.conatiner {
    background-color: var(--black-color);
    width: 100%;
}

nav {
    max-width: 75rem;
    width: 100%;
    margin: auto;
    padding: 5px 2rem 5px 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    img {
        max-width: 6rem;
        border-radius: 100%;
        width: 100%;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        li {
            list-style: none;
            padding: .5rem 0;




            a {
                color: var(--white-color);
                text-decoration: none;
                font-weight: 500;
                letter-spacing: .3px;
            }

            &:nth-child(2) {
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                gap: .3rem;
                cursor: pointer;
                position: relative;
                z-index: 999;

                i {
                    transition: 400ms all;
                    padding-bottom: 3px;
                }

                &:hover {
                    i {
                        rotate: 180deg;
                        display: block;
                    }
                }

                ul {
                    position: absolute;
                    display: none;
                    flex-direction: column;
                    top: 2.5rem;
                    background-color: var(--black-color);
                    width: 14rem;
                    border-radius: 10px;
                    border: 2px solid white;
                    left: 0;
                    gap: unset;
                    overflow: hidden;
                    transition: 300ms all;

                    li {
                        width: 100%;
                        padding: unset;

                        a {
                            display: block;
                            padding: 1rem;
                            width: 100%;
                            transition: 300ms all;

                            &:hover {
                                background-color: #5F29B7;
                            }
                        }
                    }
                }

            }

            &:hover {
                &:nth-child(2) {
                    ul {
                        display: flex;
                    }
                }
            }
        }
    }

    .fa-bars {
        color: var(--white-color);
        font-size: 1.5rem;
        cursor: pointer;
        display: none;
    }

    @media only screen and (max-width: 800px) {

        .fa-bars {
            display: block;
        }

        ul {
            display: none;
        }

    }
}

/* reponsive Navbar */

.reponsiveNavbar {
    display: none;
}

.overlayNavbar {
    display: none;
}

@media only screen and (max-width: 800px) {
    .overlayNavbar {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #000000ae;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .reponsiveNavbar {
        display: block;
        z-index: 99;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #171022;
        height: 100vh;
        max-width: 0rem;
        width: 100%;
        transition: 500ms all;
        overflow: hidden;

        .fa-x {
            position: absolute;
            top: 2rem;
            right: 2rem;
            color: var(--white-color);
            font-size: 1.3rem;
            cursor: pointer;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 5rem 2rem 0rem 2rem;

            li {
                list-style: none;
                padding: .5rem 0;
                text-wrap: nowrap;


                &:hover {
                    &:nth-child(2) {
                        ul {
                            opacity: 1;
                        }
                    }

                }

                a {
                    color: var(--white-color);
                    text-decoration: none;
                    font-weight: 500;
                    letter-spacing: .3px;
                }

                &:nth-child(2) {
                    display: flex;
                    color: white;
                    flex-direction: column;
                    gap: .3rem;
                    cursor: pointer;
                    position: relative;

                    i {
                        transition: 400ms all;
                        padding-bottom: 3px;
                    }

                    &:hover {
                        i {
                            rotate: 180deg;
                        }
                    }

                    ul {
                        display: flex;
                        flex-direction: column;
                        border-radius: 10px;
                        gap: unset;
                        padding: unset;
                        transition: 300ms all;
                        margin-top: 2rem;

                        li {
                            width: 100%;
                            padding: unset;

                            a {
                                display: block;
                                padding: 1rem;
                                width: 100%;
                                transition: 300ms all;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* hero section */

.heroradient1 {
    max-width: 400px;
    width: 100%;
    height: 400px;
    background-color: #000000;
    border-radius: 100%;
    filter: blur(10rem);
    position: absolute;
    top: 0;
    left: -10rem;
}

.heroradient2 {
    max-width: 400px;
    width: 100%;
    height: 400px;
    background-color: #000000;
    border-radius: 100%;
    filter: blur(10rem);
    position: absolute;
    bottom: 0;
    right: -10rem;
}

@media only screen and (max-width: 800px) {
    .heroradient1 {
        width: 250px;
        height: 250px;
        top: 0;
        left: 0rem;
    }

    .heroradient2 {
        width: 250px;
        height: 250px;
        bottom: 0;
        right: 0rem;
    }
}

.heroSection {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white-color);
    min-height: calc(100vh - 113px);
    flex-direction: column;
    padding: 1rem;

    .starRoatate {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        align-items: center;
        gap: .6rem;
        border: 2px solid rgba(255, 255, 255, 0.679);
        padding: .5rem 1rem .5rem .8rem;
        border-radius: .5rem;

        .fa-star {
            color: var(--white-color);
            animation: rotateStar 10s linear infinite;
        }
    }



    h1 {
        font-size: clamp(1.5rem, -0.875rem + 8.333vw, 3.3rem);
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        line-height: 1.3;
        max-width: 60rem;
        width: 100%;

        background: linear-gradient(to right, #FFFFFF 0%, #5F29B7 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }

    h2 {
        font-size: clamp(1.2rem, -0.875rem + 8.333vw, 2rem);
        padding-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 65rem;
        width: 100%;
        font-weight: 500;
        color: #8f889a;
    }

    .heroBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;

        button {
            padding: 1rem 2.5rem;
            background-color: #5f29b7;
            border-radius: 25rem;
            border: 2px solid #5f29b7;
            color: var(--white-color);
            font-size: 18px;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: .7rem;
            transition: 300ms all;
            text-decoration: none;

            &:hover {
                background-color: #570bd0;
            }

            img {
                height: 2rem;
            }

        }

        .heroAncor2 {
            padding: 1rem;
            background-color: transparent;
            color: var(--white-color);
            font-size: 17px;
            cursor: pointer;
            transition: 300ms all;
            border: none;

            &:hover {
                text-decoration: underline;
            }
        }

        @media only screen and (max-width: 800px) {
            button {
                padding: .8rem 1rem;
            }

            a {
                padding: .8rem 1rem;
            }
        }
    }
}

@keyframes rotateStar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* loges */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.loges {
    background: #0e0d0d;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2rem 1rem;

    .swipermySwiper {
        max-width: 70rem;
        width: 100%;
        margin: auto;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 5rem;
        object-fit: cover;
    }

    @media only screen and (max-width: 800px) {
        .swiper-slide img {
            width: 80%;
            margin: auto;
            height: 5rem;
        }
    }
}

/* page2 */






/* what we do */

.whatWeDo {
    background-color: var(--black-color);
    position: relative;
    padding: 4rem 0 3rem 0;


    .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        opacity: 20%;
        left: 0;
    }

    .borderHeading {
        max-width: 76rem;
        border-radius: 1rem;
        width: 100%;
        margin: auto;
        border: 2px solid rgba(255, 255, 255, 0.529);
        border-bottom: none;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: clamp(1rem, -0.875rem + 8.333vw, 1.3rem);
            color: white;
        }

        p {
            color: #ffffff63;
        }
    }

    .main {
        z-index: 99;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 75rem;
        width: 100%;
        margin: auto;

        @media only screen and (max-width: 800px) {
            padding: 4rem 0 0rem 0;
        }


        .first {
            padding: 1.5rem;
            max-width: 50%;
            width: 100%;
            color: var(--white-color);

            h1 {
                font-size: clamp(2rem, -0.875rem + 8.333vw, 2.5rem);
                font-weight: 600;
            }

            h2 {
                font-weight: 500;
                padding: .5rem 0 1.5rem 0;
                font-size: 18px;
                color: #f7f7f7dd;
                word-spacing: .5px;
            }

            @media only screen and (max-width: 800px) {
                h2 {
                    padding: .5rem 0 1rem 0;
                }
            }

            p {
                color: #f7f7f7a3;
            }
        }

        .second {
            padding: 1rem;
            max-width: 50%;
            width: 100%;
            display: flex;
            justify-content: end;
            align-items: end;

            img {
                max-width: 30rem;
                width: 100%;
            }
        }
    }

    @media only screen and (max-width: 800px) {
        .main {
            flex-direction: column-reverse;

            .first,
            .second {
                max-width: 100%;
            }
        }
    }
}

.reparings {
    max-width: 80rem;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding: 1.2rem;

    .card {
        max-width: 360px;
        width: 100%;
        padding: 2rem;
        transition: 300ms all;
        border: 2px solid black;
        border-radius: 2rem;
        border: 2px solid rgba(255, 255, 255, 0.245);

        &:hover {
            transform: translateY(-1rem);
            border: 2px solid white;
        }

        img {
            height: 120px;
        }
        
        h2 {
            padding: 1.5rem 0;
            color: white;
            font-size: clamp(1.2rem, -0.875rem + 8.333vw, 1.5rem);
            font-weight: 600;
        }

        p {
            color: rgba(255, 255, 255, 0.705);
            font-size: 14px;
        }
        &:nth-child(2){
            transform: translateY(-3rem);
        }
    }
}
.reparing {
    max-width: 80rem;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding: 1.2rem;

    .card {
        max-width: 360px;
        width: 100%;
        padding: 2rem;
        transition: 300ms all;
        border: 2px solid black;
        border-radius: 2rem;
        border: 2px solid rgba(255, 255, 255, 0.245);

        &:hover {
            transform: translateY(-1rem);
            border: 2px solid white;
        }

        img {
            height: 130px;
            padding: 1.5rem 0;
        }

        h2 {
            color: white;
            font-size: clamp(1.2rem, -0.875rem + 8.333vw, 1.7rem);
            font-weight: 600;
        }

        p {
            color: rgba(255, 255, 255, 0.705);
        }
    }
}

.WhyChooseUS {
    max-width: 80rem;
    width: 100%;
    margin: auto;
    padding: 7rem 1.2rem 0rem 1.2rem;
    position: relative;

    @media only screen and (max-width: 800px) {
        padding: 3rem 1.2rem 0rem 1.2rem;
    }

    h2 {
        color: var(--white-color);
        text-align: center;
        font-size: clamp(1.7rem, -0.875rem + 8.333vw, 3rem);
        font-weight: 600;
        background: #FFFFFF;
        background: linear-gradient(to right, #FFFFFF 0%, #5F29B7 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        color: #ffffff9e;
        padding-top: .7rem;
        padding-bottom: 3rem;
        text-align: center;
    }

    .cards {
        display: flex;
        gap: 1rem;
        position: relative;

        .card {
            width: 100%;
            background-color: #0e0d0d;
            padding: 1.5rem;
            border-radius: .7rem;
            transition: 600ms all;

            img {
                width: 100%;
            }

            h2 {
                color: white;
                font-size: clamp(1.2rem, -0.875rem + 8.333vw, 1.5rem);
                font-weight: 600;
                text-align: unset;
                background: unset;
                -webkit-background-clip: unset;
                -webkit-text-fill-color: unset;

            }

            p {
                color: rgba(255, 255, 255, 0.705);
                padding-bottom: unset;
                padding-top: .5rem;
                text-align: unset;
            }

            a {
                display: block;
                margin-top: .8rem;
                color: #74c3e2;
                transition: 500ms all;

                &:hover {
                    padding-left: 1rem;
                }
            }

            &:hover {
                background-color: #171022;
                transform: translateY(-.5rem);
            }
        }

    }

    .btnWhyChose {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;

        button {
            background-color: #5f29b7;
            position: relative;
            padding: 1rem 3rem;
            border-radius: 25rem;
            color: white;
            margin: auto;
            transition: 300ms all;
            border: 2px solid #5f29b7;

            &:hover {
                background-color: transparent;
                color: #5f29b7;
            }
        }
    }

    @media only screen and (max-width: 800px) {
        .cards {
            flex-direction: column;
        }
    }
}

/* testimonials */

.testimonials {
    max-width: 80rem;
    width: 100%;
    margin: auto;
    padding: 7rem 1.2rem 4rem 1.2rem;

    h2 {
        text-align: center;
        font-size: clamp(2rem, -0.875rem + 8.333vw, 3rem);
        font-weight: 600;
        padding-bottom: 3rem;
        background: #FFFFFF;
        background: linear-gradient(to right, #FFFFFF 0%, #5F29B7 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }

    .card {
        color: white;
        background: linear-gradient(152.2deg, #7061aa -27.618%, #340e73 78.015%);
        padding: 2rem;
        border-radius: .8rem;
        transition: 300ms all;

        .imgData {
            display: flex;
            justify-content: start;
            align-items: center;
            padding-bottom: 2rem;
            gap: 2rem;

            img {
                border-radius: 100%;
                width: 6rem;
                height: 6rem;
            }

            h2 {
                font-weight: 500;
                font-size: clamp(1.2rem, -0.875rem + 8.333vw, 1.5rem);
                padding-bottom: 0rem;
                color: white;
                background: unset;
                background: unset;
                -webkit-background-clip: unset;
                -webkit-text-fill-color: unset;
            }

            h3 {
                color: #ffffff9e;
                padding-bottom: .5rem;
            }
        }

        @media only screen and (max-width: 800px) {
            .imgData {
                flex-direction: column;
                text-align: center;
                padding-bottom: 1rem;
                gap: 1rem;
            }
        }

        p {
            color: #ffffff91;
        }
    }
}

@media only screen and (max-width: 800px) {
    .testimonials {
        padding: 2.5rem 1.2rem 4rem 1.2rem;
    }
}


/* footer */


.main-footer {
    padding: 70px 0;
    display: flex;
    justify-content: space-evenly;
    background-color: #171022;
}

.main-footer ul {
    list-style: none;
}

.main-footer h1 {
    font-size: 22px;
    line-height: 117%;
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: 500;
}

.main-footer h2 {
    color: #ffffff;
    font-weight: 500;
}

.main-footer ul li a {
    color: #ffffffcc;
    text-decoration: none;
}

footer {
    background-color: #171022;
    border-top: 1px solid #ffffff8f;
    font-size: 17px;
    padding: 15px 5px;
    color: #ffffff;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

.logoinfo p {
    color: #ffffff8f;
    font-size: 17px;
    margin-top: 5px;
}

.contact-details {
    margin-top: 20px;
}

.contact-details li {
    list-style: none;
    margin: 10px 0;
}

.contact-details li a {
    text-decoration: none;
    color: #f1f1f1;
}

.contact-details .fa {
    color: #f1f1f1;
    margin-right: 10px;
}

.sociallogos {
    padding: 20px 0;
}

.sociallogos .logobox a {
    padding: 0 5px;
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
}

.com ul {
    padding-top: .5rem;
}

.com ul li {
    padding: 5px 0;
}

@media only screen and (max-width: 749px) {
    .main-footer {
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .info {
        padding: 20px 0;
    }
}

@media (max-width: 480px) {
    .main-footer {
        grid-template-columns: 1fr;
    }

    .sociallogos {
        padding: 20px 0;
    }

    .com {
        padding: 20px 0;
    }

}